<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50960519040-lda6bc624e7vrsove75hmgb8sc7acqae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50960519040-lda6bc624e7vrsove75hmgb8sc7acqae</string>
	<key>API_KEY</key>
	<string>AIzaSyBYEx9948PFJ3DYTehkpVQF99zKGAUZCOI</string>
	<key>GCM_SENDER_ID</key>
	<string>50960519040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Abdulrahman.worldWide</string>
	<key>PROJECT_ID</key>
	<string>worldwide27277</string>
	<key>STORAGE_BUCKET</key>
	<string>worldwide27277.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:50960519040:ios:f6adc639b2424b81</string>
	<key>DATABASE_URL</key>
	<string>https://worldwide27277.firebaseio.com</string>
</dict>
</plist>
